.rob{
    height: 400px;
    width: 400px;
    /* border: 1px solid; */
    margin-top: 110px;
    position: relative;
}

.head{
    position: absolute;
    height: 34%;
    width: 39%;
    /* border: 1px solid; */
    margin-top: 5%;
    margin-left: 29%;
    border-radius: 50px 50px 0px 0px;
    background-color: rgb(32, 212, 16);
   
    
}

.rob:hover .head{
    animation: movehead 2s infinite;
  
}

@keyframes movehead {
     0%{
        /* transform: rotatey(10deg); */
        /* margin-top: 1%; */
        transform: rotate(0deg);
        
     }
     50%{
        /* transform: rotatey(60deg); */
        /* margin-top: 1%; */
        transform: rotate(10deg);
        /* border-radius: 50%;
        transform-origin: right bottom; */
     }

}

.eye{
    position: absolute;
    height: 30%;
    width: 79%;
    /* border: 1px solid; */
    margin-top: 51%;
    margin-left: 9%;
}

.eye1{
    position: absolute;
    height: 44%;
    width: 15%;
    /* border: 1px solid; */
    border-radius: 50%;
    margin-top: 15%;
    margin-left:-50%;
    background-color: aliceblue;
}

.eye2{
    position: absolute;
    height: 44%;
    width: 15%;
    /* border: 1px solid; */
    border-radius: 50%;
    margin-top: 15%;
    margin-left:39%;
    background-color: aliceblue;
}

.body{
    position: absolute;
    height: 37%;
    width: 39%;
    /* border: 1px solid; */
    margin-top: 42%;
    margin-left: 29%;
    border-radius: 0px 0px 25px 25px;
    background-color: rgb(32, 212, 16);
    /* overflow: visible; */
}

.rob:hover .body{
    animation: movebody 2s infinite;
}

@keyframes movebody {
    0%{
    
        border-radius: 25px 25px 25px 25px;
        transform: rotate(0deg);
    }
    100%{
        border-radius: 25px 25px 25px 25px;
        transform: rotate(180deg);
    }
    
}

.leg1{
    position: absolute;
    height:25%;
    width: 9%;
    /* border: 1px solid; */
    margin-top: 70%;
    margin-left: -15%;
    border-radius: 0px 0px 25px 25px;
    background-color: rgb(32, 212, 16);
}

.rob:hover .leg1{
    animation: rightleg 2s infinite;
}

@keyframes rightleg {
    0%{
      
        transform: rotate(0deg);
        transform-origin: center;
    }
    50%{
        transform: rotate(30deg);
        transform-origin: center;
    }
    
}

.leg2{
    position: absolute;
    height:25%;
    width: 9%;
    /* border: 1px solid; */
    margin-top: 70%;
    margin-left: 3%;
    border-radius: 0px 0px 25px 25px;
    background-color: rgb(32, 212, 16);
}

.rob:hover .leg2{
    animation: leftleg 2s infinite;
}

@keyframes leftleg {
    0%{
        
        transform: rotate(0deg);
        transform-origin: center;
    }
    50%{
        transform: rotate(-30deg);
        transform-origin: center;
    }
    
}

.hand1{
    position: absolute;
    height:20%;
    width: 5%;
    /* border: 1px solid; */
    margin-top: 45%;
    margin-left: 21%;
    border-radius: 25px 25px 25px 25px;
    background-color: rgb(32, 212, 16);
}

.rob:hover .hand1{
    animation: righthand 2s infinite;
}

@keyframes righthand {
    0%{
        transform: rotate(0deg);
        transform-origin: top right ;
       
    }
    50%{
        transform: rotate(60deg);
        transform-origin: top right;
    }
    
}

.hand2{
    position: absolute;
    height:20%;
    width: 5%;
    /* border: 1px solid; */
    margin-top: 45%;
    margin-left: 71%;
    border-radius: 25px 25px 25px 25px;
    background-color: rgb(32, 212, 16);
}

.rob:hover .hand2{
    animation: lefthand 2s infinite;
}

@keyframes lefthand {
    0%{
        transform: rotatez(0deg);
        transform-origin: top left ;
       
    }
    50%{
        transform: rotate(-60deg);
        transform-origin: top left;
    }
    
}
